


<div class="col-12 col-lg-12     box-view-profile  shadow-boxes">

    <div class="viewProfile-box-profile d-flex justify-content-between container">
       <div class="d-flex justify-content-between text-center    ">
        <img src="./images/fr2.png"   alt="">
        <span class="name-pos-profile">
            <span>{{name}}</span> <br>
            <span> {{department}} </span><br>
           <span> {{job}}</span>
        </span>
       </div>
        <button class="rounded  col-lg-2 col-md-3 col-sm-4 col-4 btn-ViewPorfiles">New Request</button>
    </div>
    <hr class="hr-responsive">

    <div class="row py-3 justify-content-between icons-div container ">

        <div class="d-flex col-lg-2 col-md-5">
            <i class="fa-solid fa-user  "></i>
            <span class="name-pos">
             
                <span class="title1">Reporting To:</span> <br>
                <span class="subtitle1">Salwa Assem</span>
            </span>         
         </div>

         <div class="d-flex col-lg-2 col-md-5" >
            <i class="fa-solid fa-arrow-up-right-dots"></i>
                 <span class="name-pos">
              
                <span class="title1">Corporate Level:</span> <br>
                <span class="subtitle1">Level 10</span>
            </span>         
         </div>

         <div class="d-flex col-lg-2 col-md-5" >
          <i class="fa-solid fa-hourglass-start"></i>
               <span class="name-pos">
            
              <span class="title1">Lifetime:</span> <br>
                <span class="subtitle1">2.5 Years</span>
          </span>         
       </div>



       <div class="d-flex col-lg-2 col-md-5" >
          <i class="fa-solid fa-plane"></i>
          <span class="name-pos">
            
              <span class="title1">Vacation Days Left:</span> <br>
              <span class="subtitle1">10 Days</span>
          </span>         
       </div>

       <div class="d-flex col-lg-2 col-md-5 text-center align-items-center " >
          <i class="fa-solid fa-head-side-cough"></i>
              <span class="name-pos">
            
              
              <span class="title1">Sick Days Left:</span> <br>
              <span class="subtitle1">14 Days</span>
          </span>         
       </div>
    </div>



</div>
