



<div id="carouselExampleAutoplaying" class="carousel slide   my-3 " data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <div class="d-block w-100 carousel-bg" style="background-image: url('images/img4.jpg');">
        <div class="title-swiper">
          <h5>Best Spots For A Summer Vacation</h5>
          <p>Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100 carousel-bg" style="background-image: url('images/img9.jpg');">
        <div class="title-swiper">
          <h5>Best Spots For A Summer Vacation</h5>
          <p>Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100 carousel-bg" style="background-image: url('images/img1.jpg');">
        <div class="title-swiper">
          <h5>Best Spots For A Summer Vacation</h5>
          <p>Check out these spots where we provide you with a discount code! Type VACATION when inserting the promo code and behold the surprise!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
</div>
