

<div class="container home-div2 profile-div1  row ">

<app-employee-details-profile></app-employee-details-profile>
    
<!-- HISTORY SECTION -->
<div class="col-12 col-lg-12 my-4  m-auto  box-view-profile  History-sec shadow-boxes container row">
    <div class="col-12 py-2  History-sec-title "> <i class="fa-solid fa-list-check"></i>  <span>History</span></div>
    <hr >

    <div class="cards-History  row container" id="card-historySec">


        <div class="row  cardResponsive ">

    <app-card-history class="col-lg-3 col-md-6 col-sm-6"></app-card-history>
    <app-card-history class="col-lg-3 col-md-6 col-sm-6"></app-card-history>
    <app-card-history class="col-lg-3 col-md-6 col-sm-6"></app-card-history>
    <app-card-history class="col-lg-3 col-md-6 col-sm-6"></app-card-history>
    <app-card-history class="col-lg-3 col-md-6 col-sm-6"></app-card-history>
    <app-card-history class="col-lg-3 col-md-6 col-sm-6"></app-card-history>
    <app-card-history class="col-lg-3 col-md-6 col-sm-6"></app-card-history>

                
        </div>

        </div>

        <p class="text-end text-danger ViewMore">View More <i class="fa-solid fa-arrow-right-long " ></i></p>



      
    </div>



      <!--  Pending Requests    -->

  <div class="col-12 col-lg-12 my-1 mb-5  m-auto  box-view-profile  History-sec shadow-boxes row  ">



    <div class="col-12 py-2  pb-3 History-sec-title  "> <i class="fa-solid fa-list-check"></i>  <span>Pending Requests</span></div>


    <div class="row allcards ">
    

            <app-card-pending-requestsile class="col-lg-3 col-md-5 col-sm-6 col-9 card-static"></app-card-pending-requestsile>
            <app-card-pending-requestsile class="col-lg-3 col-md-5 col-sm-6 col-9 card-static"></app-card-pending-requestsile>

            <p class="text-end text-danger ViewMore"><a class="text-danger" style="text-decoration: none; " routerLink="/Vacation">View More</a> <i class="fa-solid fa-arrow-right-long " ></i></p>

   
    </div>
    </div>

</div>