


      <!--Sec 1  Welcome -->
      <div class="">

        <div class="viewProfile-box d-flex justify-content-between ">
           <div class="d-flex justify-content-between  ">
            <img  src="./images/fr2.png" >
            <span class="name-pos">
                <span  >{{name}}</span> <br>
                <span >{{job}}</span>
            </span>
           </div>
            <a routerLink="/profile" class="rounded col-lg-3 col-md-3 col-4 btn-ViewPorfiles">View Porfiles</a>
        </div>

        <div class="row py-2 ">

            <div class="d-flex col-lg-4 col-6">
                <i class="fa-solid fa-user  "></i>
                <span class="name-pos">
                   
                    <span  >Reporting To:</span> <br>
                    <span >Salwa Assem</span>
                </span>         
             </div>

             <div class="d-flex col-lg-4 col-6" >
                <i class="fa-solid fa-arrow-up-right-dots"></i>
                     <span class="name-pos">
                        <span  >Corporate Level:</span> <br>
                        <span >Level 10</span>
                </span>         
             </div>
        </div>



    </div>