/* .viewProfile-box{
    padding: 10px 0px;
}

.viewProfile-box img{
    width: 35px ;
    height: 35px ;
    border-radius: 50%;
}

.name-pos{
    line-height:.9;
    padding-left: 7px;
    text-align: start;
    justify-content: center;
}

.name-pos span {
    font-size: 10px;
}

.name-pos span:first-of-type {
    font-weight: bold;
    font-size: 11px;
}

.name-pos span:nth-of-type(2) {
    color: rgba(119, 114, 114, 0.651);
    font-size: 10px;
}

.btn-ViewPorfiles{
    font-size: 13px !important;
    background-color: #fff !important;
    border: 1px solid green !important;
    max-height: 30px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    padding: 2px 0;
    color: green;
    cursor: pointer;
}

.btn-ViewPorfiles:hover{
    font-size: 13.3px !important;
    background-color: #218838 !important;
    border: 1px solid white !important;
    color: white;
    transition: 1s;
    max-height: 30px;
} */



/*RESPONSIVE*/
@media(max-width:447px){
    .btn-ViewPorfiles{
        font-size: 11px !important;
    }
    
    .btn-ViewPorfiles:hover{
        font-size: 11.5px !important;
    }
}


