<div class="card my-2    shadow-boxes  ">
    <div >
        <img  src="./images/profile.png" >
        <p>odai abd</p>
    </div>
   <div class="card-detailes">
    <span class="title1">Submitted on:</span> <br>
    <span class="subtitle1">{{formattedStartDate}}</span>
   </div>
   
   <div class="card-detailes">
    <span class="title1">Duration:</span> <br>
    <span class="subtitle1">2 Weeks ({{formattedDateRange}})</span>
   </div>

        <br>
   <div class="card-detailes" style="line-height: .9;">
    <span class="title1">Currently at:</span> <br>
    <span class=" subtitle1green ">Omar Ahmad</span>
   </div>



</div>