

.card-VacationPage{
    background-color: white;
    padding: 10px 0px;
    min-height: 280px !important;
    position: relative;
   
}

.card-VacationPage img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto !important;
 
  display: flex !important;
  margin-top: 5px !important;
}
.card-VacationPage p{
  text-align: center;
  font-size: 14px ;
  font-weight: bold;
}

.noneBorder{
border: none !important;
padding: 0px  !important;
}

.pagination  {
  margin: auto !important;
  width: 100%;
  
}

.numBage ,.fa-angle-left ,.fa-angle-right{
  font-size: 15px !important;
  color: black !important;
  padding: 0 4px  !important;
  margin: 5px 0;
}
.numBage:hover,
.numBage.active {
 background-color: white !important;
  color: black !important;
  font-weight: bold !important;
}

.fa-angle-left:hover ,.fa-angle-right:hover{
  color: black !important;
  font-weight: bold !important;
  margin: 5px 0;
  background-color: inherit !important;

}

.btn-outline-primary:hover{
background-color: inherit !important;
}


.pagination-container{
  background: silver !important;
  border-radius: 10px;
  text-align: center !important;
  justify-content: center !important;
  margin: auto !important;
  text-align: center !important;
}




/* Cpomputer */


.computer{
  display: flex !important;
  flex-wrap: wrap;
  gap: 2%;
  row-gap: 2.5rem ;
  justify-content: start !important;
      
  }


.card-VacationPage-computer{
  background-color: white;
  padding: 10px 0px;
  height: 170px !important;
  position: relative;
  width: 32%;
}

.div1-card-VacationPage-computer {
margin-left: 15px ;
margin-right: 15px;
display: flex;
align-items: center !important;
}

.card-VacationPage-computer img {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 8px;
display: flex !important;
margin-top: 5px !important;
}
.card-VacationPage-computer span{
text-align: center;
font-size: 14px ;
font-weight: bold;
text-transform: capitalize;
}


.card-detailes-computer{
  line-height: .7;
  margin-top: 5px;
  margin-left: 8px;
}

.card-detailes-computer .title1  {
  color: rgb(177, 177, 177) !important;
  font-size: 10px;
}
.card-detailes-computer .subtitle1 {
  color: rgb(122, 120, 120) !important;
  font-size: 10px;
  font-weight: bold;
}

.buttons-computer{

  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  right: 3%;
  bottom: 7%;
}

.buttons-computer .btn{
  height: 20px !important;
  font-size: 10px !important;
  line-height: 4px;
}

.btn-outline-danger:hover{
  background: red;
  color: white !important;
  transition: .8s;
}

.cards-Responsive-computer{
  display: flex !important; 
  flex-wrap: wrap;
  
}




/*  Mobile */
.cards-Responsive-mobile{
  display: none !important;
}


/*  checkBox    */
.checkBox-card{
  position: absolute;
  top: 0%;
  right: 0%;
}


/*  Responsive */



@media(max-width:992px){
  .cards-Responsive-computer{
      display: none !important;
  }

  .cards-Responsive-mobile{
      display: flex !important;
  }
}

@media(max-width:767px){
  .allcards{
     justify-content: space-between !important;
     
  }
.card-detailes span{
  font-size: 10.5px !important;
}
.buttons{
  margin-top: 15px !important;
}
}

  @media(max-width:576px){
      .card-VacationPage{
          margin: auto !important;
      }
}
